/* Use for debugging : border: 2px solid black;
        Extra styles:
          1 Fonts - font-family: 'Fira Code','JetBrains Mono', monospace;*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100dvh;
}

.page {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    overflow-x:hidden;
}

.container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 0;
    grid-row-start: 1;
    max-height: 200px;
    height: 200px;
    width: 650px;
    overflow-y: scroll;
    scroll-behavior: smooth;

}

.play {
    cursor: pointer;
    width: 13em;
    height: 13em;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.pimage {
    width: 10em;
    height: 10em;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.lyric-con {
    height: 100px;
    width: 550px;
    padding: 50px 50px;
}

.container::-webkit-scrollbar {
    display: none;
}

.soon {
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    color: antiquewhite;
    font-family: 'JetBrains Mono';
}

.soon.active {
    font-size: 24px;
    color: antiquewhite;
    font-family: 'JetBrains Mono';
    animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1.2em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
        font-size: 1.5rem;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
        font-size: 24px;
    }
}

.card {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 0;
    grid-row-start: 1;
    margin-left: 30%;
    width: 300px;
    height: 400px;
    background-color: black;
    border-radius: 20px;
    box-shadow: -3px 5px 5px 1px #030303c2;
}

.album-art {
    width: 100%;
    height: 74%;
    position: relative;
}

.overlay {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to top, black, transparent);
}

.art {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 40px;
}

.controls button {
    background-color: rgba(37, 37, 37, 0.596);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-family: 'Fira Code';
    cursor: pointer;
    text-align: center;

}

#play {
    border-radius: 50px;
    padding: 8px;
    padding-left: 11px;
}

#play img {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.song-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}

.song-info span {
    color: white;
    font-family: 'JetBrains Mono';
    cursor: pointer;
    position: relative;
}

.muteIcon,
.unmuteIcon {
    position: absolute;
    top: 0;
    left: 10px;
    width: 20px;
    height: 20px;
    filter: invert(100%);
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out;
}

.muteUnmuteButton.mute .muteIcon {
    opacity: 0;
}

.playPauseButton.mute .unmuteIcon {
    opacity: 1;
}

progress {
    height: 8px;
}

embed {
    opacity: 0;
}

#landing {
    background: rgb(5, 1, 74);
    background: linear-gradient(180deg, rgba(5, 1, 74, 1) 0%, rgb(0, 8, 29) 100%);
}

#p1 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 0%;

    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 8, 29) 0%, rgba(5, 1, 74, 1) 100%);
}


#pend {
    background: rgb(5, 1, 74);
    background: linear-gradient(180deg, rgba(5, 1, 74, 1) 0%, rgb(0, 8, 29) 100%);
}



@media screen and (max-width: 600px) {

    .page {
        width: 100%;
        height: 100%;
    }

    .pimage {
        width: 5em;
        height: 5em;
    }

    #p1 {

        grid-template-columns: 100% 0%;
        grid-template-rows: 60% 40%;
    }

    .soon.active {
        font-size: 22px;
    }

    @keyframes focus-in-contract {
        0% {
            letter-spacing: 1em;
            -webkit-filter: blur(12px);
            filter: blur(12px);
            opacity: 0;
            font-size: 1.1rem;
        }

        100% {
            -webkit-filter: blur(0.5px);
            filter: blur(0.5px);
            opacity: 1;
            font-size: 22px;
        }
    }

    .card {
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;
        margin: 40px 10% 0 10%;
        width: 80%;
        height: 90%;
    }

    .album-art {
        width: 100%;
        height: 75%;

    }

    .overlay {
        height: 100%;
        width: 100%;
    }

    .art {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .controls {
        height: 15%;
    }

    #play {
        border-radius: 50px;
        padding: 5px;
        padding-left: 8px;
    }

    #play img {
        height: 25px;
        width: 25px;
    }

    .song-info {
        height: 10%;
    }

    progress {
        height: 5px;
    }

    .container {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;
        width: 80%;
        height: 200px;
        max-height: 200px;
        overflow-y: scroll;
        margin: 15px 10% 5px 10%;
    }

    .lyric-con {
        height: 200px;
        width: 315px;
        padding: 0 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }


}